body {
    background-image: url("starry-night.jpeg");
    margin-top: 4%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10%;
}

.stars-form {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-right: 33%;
    margin-left: 33%;
    text-align: left;
    font-weight: 300;
}

#radius-form {
    margin-top: 3%;
}

h1 {
    color: white;
    margin-bottom: 2%;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

.form-control {
    margin-right: 90%;
}

.example {
    font-style: italic;
    margin-top: .5%;
    margin-bottom: .5%;
}

.space {
    padding-left: 2%;
}

.results {
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 33%;
    margin-left: 33%;
    text-align: left;
    font-weight: 300;
    color: white;
}